*{
    margin: 0;
    padding: 0;
}

body
{
    margin: auto;
    display: flex;
    justify-content: center;
}

.mainCalender
{
    /* display: flex; */
    display: inline-block;
    margin: auto;
    justify-content: center;
    margin: 20px;
}

th
{
    margin: 50px;
    padding: 5px;
    font-size: 2rem;
}

tr
{
    margin: 10px;
}

.hYear,.hMonth
{
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 10px;
}

.nBtn
{
    /* margin: 20px; */
    padding: 5px;
    font-size: 2rem;
}

#yearText, #monthText
{
    margin: 0 10px 0 10px;
}