*{
    margin: 0;
    padding: 0;
}

body
{
    display: inline-block;
}

.main
{
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header
{
    height: 10%;
    background-color: bisque;
}

th
{
    margin: 50px;
    padding: 5px;
    font-size: 2rem;
}

.sidePanel
{
    margin: auto;
    padding: 10px;
    background-color: aqua;
}

.mainCalender
{
    /* display: flex; */
    display: inline-block;
    margin: auto;
    justify-content: center;
    /* margin: 20px; */
    background-color: azure;
}

.currentMonthText
{
    margin: 50px;
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
}

.dateText
{
    margin: 50px;
    padding: 5px;
    font-size: 1rem;
    text-align: center;
}

.today
{
    margin: 50px;
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
    color: red;
}

.today:hover,.dateText:hover,.currentMonthText:hover
{
    border-radius: 100%;
    border: 2px;
    background-color: black;    
    color: white;
}

.hYear,.hMonth
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 10px;
}

.nBtn
{
    width: 50px;
    height: 50px;
    padding: 5px;
    font-size: 2rem;
    border: 0;
    border-radius: 100%;
    background-color: whitesmoke;    
    text-align: center;
    align-items: center;    

}
