.sidePanel
{
    /* margin: auto; */
    display: block;
    padding: 10px;
    /* background-color: aqua; */
}

.header
{
    height: 10%;
    background-color: bisque;
}

.todotable {
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width:  800px;
}

.box {
    border-radius: 5px;
    /* padding: 20px; */
    /* margin: 0 50px 0 50px; */
    margin: 5px 50px 5px 50px;
    font-size: 1rem;
    text-align: justify;
}

.row
{
    display: contents;
}

.tableheader
{
    font-size: 2rem;
    padding:  0 0 5px 0;
}

.tableentry
{
    font-size: 1rem;
    margin: 5px 50px 5px 50px;
}

.row:hover
{    
    color: red;    
}