.App {
  text-align: center;
}

.mainBody {
  background-color: rgb(164, 102, 223);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainBtn {
  border-width: 3px;
  border-color: white;
  border-radius: 10px;
  margin: 30px;
  width: 150px;
  height: 75px;
  font-size: 1.2rem;
  background-color: rgb(77, 13, 138);
  color: aliceblue;
  /* margin: auto; */
}

.mainBtn:hover {
  cursor: pointer;
}

.mainHeading {
  color: aliceblue;
  font-size: 2.4rem;
}

.mainText {
  width: 350px;
  height: 40px;
  text-align: center;
  font-size: large;
}
