* {
  margin: 0;
  padding: 0;
}

.mainBody
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.accordionDiv
{
  width: 40%;
  /* background-color: aqua; */
  border-radius: 10px;
  padding: 5px;
}