* {
  margin: 0;
  padding: 0;
}

.mainBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: beige;
}

.accordionDiv {
  background-color: azure;
  width: 40%;
  /* background-color: aqua; */
  border-radius: 10px;
  padding: 5px;
}
