.navigationBar {
    background-color: aqua;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px 0;
}

.navlink {
  margin: 0px 20px;
  height: 25px;
  /* background-color: bisque; */
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px lightsalmon;
  letter-spacing: 0.1cm;  
  text-decoration: none;
}
.navlink:focus
{
    text-decoration: underline;
}
