.main {
  padding: 5px;
  margin: auto;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 70vh;
  width: 60vw;
  position: relative;
  border-width: 2px;
  border-color: grey;
  box-shadow: grey 2px 2px 2px;
}

.buttonDiv {
  padding-top: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
  /* border-radius: 0 0 10px 10px;         */

  width: 60vw;
  position: absolute;
  bottom: 10px;
}

.buttonDiv button {
  margin: 10px 80px;
  width: 80px;
  height: 40px;
  background-color: green;
  color: white;
  /* font-size: medium; */
}

.buttonDiv button:hover {
  font-weight: bold;
}
