.navigationBar {
  background-color: rgb(100, 165, 165);
  height: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px 0;
}

.navlink {
  margin: 0px 20px;
  height: 25px;
  /* background-color: bisque; */
  color: aliceblue;
  font-size: 2rem;
  font-weight: bold;
  /* text-shadow: 1px 1px 2px lightsalmon; */
  letter-spacing: 0.08cm;
  text-decoration: none;
}

.navlink:hover
{
  font-size: 2.2rem;
}

.activeClass {
  text-decoration: underline;
}
