.mainBox
{
    background-color: white;
    /* width: 60vw; */
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.mainBox input
{
    margin: 10px;
}