.mainBox
{
    background-color: white;
    /* width: 60vw; */
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.mainBox input
{
    margin: 10px;
}

.datePicker
{
  margin-top: 50px;
}

.userReview ,.passwordReview,.dobReview
{
  display: flex;
  flex-direction: row;  
  justify-content:center;
  align-items: center;
  align-self: baseline;
  margin-top: 10px;
}

.userReview input,.passwordReview input,.dobReview input
{  
  font-size: 1.6rem;  
}

.paraInfo
{
  font-size: 0.7rem;
  margin: 0;
  padding: 5px 0 0 0 ;
  align-self: flex-start;
}

.TACS
{
  display: flex;
  flex-direction: column;  
}
